@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://d1mviimjnzagon.cloudfront.net/fonts/mathanifo/v1/mathanifo.css");


@font-face {
    font-family: "Mathanifo";
    src: url("../public/Mathanifo Script_dafont.ttf");
}

@font-face {
    font-family: "Parisienne";
    src: url("../public/Parisienne-Regular.ttf");
}
@font-face {
    font-family:"AddingtonCF-Regular";
    src: url("../public/AddingtonCF-Regular.otf");
}
@font-face {
    font-family:"AddingtonCF-Thin";
    src: url("../public/AddingtonCF-Thin.otf");
}

  